<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<% try { var titleString = title %>
<% } catch { var titleString = "Loading..." } %>
<title>Roslagen Smycken | <%= titleString %></title>
<link rel="icon" href="./images/Logo.png">
<link rel="stylesheet" href="/style/main.css">
<script src="/scripts/baseFunctions.js"></script>
