<div id="rs-logo"><a id="rs-link" href="/"><img id="rs-image" src="/images/Logo.png"></a></div>
<nav>
    <div id="navFlexContainer">

        <div id="navOptions">
            <a class="navButton" href="/showcase"><button>Showcase</button></a>
            <a class="navButton" href="/order"><button>Order</button></a>
            <a class="navButton" href="/about"><button>About</button></a>
        </div>

    </div>

    <script src="/scripts/toggleDarkMode.js"></script>
    <img onload="SetDarkMode()" id="darkmodeToggle" onclick="ToggleDarkMode()" src="/images/darkmodeButton.png">
</nav>

<%- include('./accountDropdown.ejs') %> 

<div id="backgroundBlur" onclick="HidePopups()"></div>
