<nav>
    <div id="navFlexContainer">
        <a href="/"><img id="rs-logo" src="/images/Logo.png"></a>

        <div id="navOptions">
            <a class="navButton" href="/showcase"><button>Showcase</button></a>
            <a class="navButton" href="/order"><button>Order</button></a>
            <a class="navButton" href="/about"><button>About</button></a>
        </div>

        <script src="/scripts/toggleDarkMode.js"></script>
        <img onload="SetDarkMode()" id="darkmodeToggle" onclick="ToggleDarkMode()" src="/images/darkmodeButton.png">

    </div>
</nav>

<%- include('./accountDropdown.ejs') %> 

<div id="backgroundBlur" onclick="HidePopups()"></div>
