<nav>
    <div id="navFlexContainer">
        <a href="/"><img id="rs-logo" src="./images/Logo.png"></a>

        <div id="navOptions">
            <a class="navButton" href="/order"><button>Order</button></a>
        </div>

        <script src="./scripts/toggleDarkMode.js"></script>
        <img onload="SetDarkMode()" id="darkmodeToggle" onclick="ToggleDarkMode()" src="./images/darkmodeButton.png">
    </div>
</nav>
