<nav>
    <a href="/"><img src="./images/RoundImagePlaceholder.png"></a>
    <ul>

    </ul>

    <script src="./scripts/toggleDarkMode.js"></script>
    <button id="darkmodeToggle" onclick="toggleDarkMode()">Toggle DarkMode</button>
    
</nav>