<nav>
    <div id="navFlexContainer">
        <a href="/"><img id="rs-logo" src="/images/Logo.png"></a>

        <div id="navOptions">
            <a class="navButton" href="/order"><button>Order</button></a>
            <a class="navButton" href="/gallery"><button>Gallery</button></a>
            <a class="navButton" href="/about"><button>About</button></a>
        </div>

        <script src="/scripts/toggleDarkMode.js"></script>
        <img onload="SetDarkMode()" id="darkmodeToggle" onclick="ToggleDarkMode()" src="/images/darkmodeButton.png">

        <div id="accountDropdown">
            <div id="loginMenu">
                <button onclick="TogglePopup('#loginScreen')">Login</button>
                <button onclick="TogglePopup('#registerScreen')">Register</button>
            </div>
            <div id="dropdownFlap">
                <button id="dropdownToggleButton" onclick="ToggleAccountDropdown()"><p>V</p></button>
            </div>
        </div>
    </div>
</nav>

<%- include('./accountDropdown.ejs') %> 