<a class="navButton" id="firstNavButton" href="/showcase"><button>Showcase</button></a>
<a class="navButton" href="/order"><button>Order</button></a>
<a class="navButton" id="lastNavButton" href="/about"><button>About</button></a>