<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>

<body>
<%- include('./partials/darkModeContainer.ejs') %>
    <%- include('./partials/nav.ejs') %> 

    <main>
        <h1>Error 401 | Unauthorized</h1>
        <h2>Insufficient authorization to access that page.</h2>
    </main>
</div>
</body>
</html>