<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>

<body>
<%- include('./partials/darkModeContainer.ejs') %>
    <%- include('./partials/nav.ejs') %> 

    <main>
        <h1>Error 404 | Page not found</h1>
        <h2>That page could not be found.</h2>
    </main>
</div>
</body>
</html>