<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
<%- include('./partials/darkModeContainer.ejs') %>
    <%- include('./partials/nav.ejs') %> 

    <main>

        <% for([key, val] of Object.entries(products)) {
            // console.log(key)
        } %> 
        
    </main>
</div>
</body>
</html>