<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
<%- include('./partials/darkModeContainer.ejs') %>
    <%- include('./partials/nav.ejs') %> 

    <main>
        
    </main>
</div>
</body>
</html>